{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<button class="btn btn-primary m-2">
  <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
</button>
<button class="btn btn-info mx-2">
  <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
</button>

<div class="container d-flex flex-wrap justify-content-center">
  {% for i in data %}
  <div class="col-sm-3">
    <div class="card mx-2 my-2">
      <div class="card-body">
        <img src="{{i.image.url}}" class="card-img-top" alt="..." style="height:12rem">
        <h5 class="card-title mt-2"><a href="{% url 'details_post' i.id %}" class="text-decoration-none text-dark">{{i.title}}</a></h5>
        <p class="card-text">{{i.content |truncatewords:15 }}</p>
        <p>Author : {{i.author.first_name}} {{i.author.last_name}}</p>
        <p
          >Category : {% for j in i.category.all %}
          <button class="btn btn-primary btn-sm my-1">{{j.name}}</button> {% endfor %}
      </p>
        <a href="{% url 'edit_post' i.id %}" class="btn btn-warning btn-sm px-3">Edit</a>
        <a href="{% url 'delete_post' i.id %}" class="btn btn-danger btn-sm mx-2 px-3">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
